@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");

.blind{ position: absolute; left: -9999px; font-size: 0; }

* { 
    box-sizing: border-box;
    word-break: keep-all;
}
.container{
    background-color: #000;
    font-family: 'Montserrat', 'Pretendard-Regular';
}

.sticky-wrap{
    overflow: hidden;
    position: sticky; top: 0; 
    width: 100%; height: 100vh;
}

.title-wrap{
    .title{
        font-size: 100px; font-weight: 600; color: #000; letter-spacing: -2px; white-space: nowrap;
    }
}


.section-gsap{
    height: 400vh;

    .sticky-wrap{
        padding: 100px;
        .bg{
            position: absolute; top: 0; left: 0; z-index: -1;
            width: 100%; height: 100%; background: #fff;
        }
    }

    .sticky-inner{
    }

    .title-wrap{
        .title{
            font-size: 20vh; font-weight: 700; color: transparent; text-align: left;
            -webkit-text-stroke: 1px #fff;
            mix-blend-mode: difference;
    
            // &::after{
            //     content: '';
            //     position: absolute; top: 0; left: 0;
            //     width: 100%; height: 400%;
            //     background: linear-gradient(to bottom, #000, #fff);
            //     mix-blend-mode: darken;
            // }
        }
        .text{
            font-size: 80px; font-weight: 600; color: #fff; line-height: 1.2; letter-spacing: -1px;
        }
    }
    .content-wrap{
        position: relative;
        width: 100%; height: 100vh; margin-top: 200vh;
        .box{
            position: absolute; width: 300px; height: 300px; background: #fff; margin: -150px 0 0 -150px;
            &-1{ background-color: #aaa; top: 15%; left: 45%; transform: rotate(-5deg); }
            &-2{ background-color: #999; top: 40%; left: 55%; transform: rotate(10deg); }
            &-3{ background-color: #333; top: 80%; left: 50%; transform: rotate(0); }
        }
    }
}

.section-timeline{
    height: 400vh;
    background-color: #000;

    .title-wrap{
        position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
        text-align: center;
        .title{ color: #fff; }
    }

    .bg{
        position: absolute; top: 0; left: 50%; transform: translateX(-50%); z-index: -1; width: 0; height: 100%;
        background: url('../../assets/images/gsap_bg.jpg') no-repeat center / 100vw; opacity: 0.4;
    }
}

.section-lottie{
    height: 200vh;

    svg{ 
        position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%) !important;
        width: 600px !important; height: auto !important;
    }
}

.section-horizontal{
    height: 400vh;
    background-color: #000;

    .title-wrap{
        .title{ color: #fff; }
    }

    .scroll-wrap{
        display: inline-block; padding: 0 100px;
        .text{ 
            font-size: 60vh; font-weight: 600; color: #fff; letter-spacing: -2vh; white-space: nowrap;
        }
    }
}