@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");

.blind{ position: absolute; left: -9999px; font-size: 0; }

* { 
    box-sizing: border-box;
    word-break: keep-all;
}
.container{
    background-color: #000;
    font-family: 'Montserrat', 'Pretendard-Regular';
}

.sticky-wrap{
    overflow: hidden;
    position: sticky; top: 0; 
    width: 100%; height: 100vh;
}

.title-wrap{
    .title{
        font-size: 100px; font-weight: 600; color: #000; letter-spacing: -2px;
    }
}


// gsap
.section-gsap{
    height: 500vh;

    .sticky-wrap{
        .bg{
            position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: -1;
            width: 100%; height: 100%; transform-origin: center;
            transition-timing-function: ease-in-out;

            &-fave{ background: url('../../assets/images/gsap_bg-fave.jpeg') no-repeat center center / cover; } 
            &-forest{ background: url('../../assets/images/gsap_bg-forest.jpg') no-repeat center center / cover; } 
            &-orange{ background: url('../../assets/images/gsap_bg-orange.jpg') no-repeat center center / cover; } 
            &-last{ background-color: #000; } 

            &::after{
                content: '';
                position: absolute; top: 0; left: 0; width: 100%; height: 100%;
                background-color: #000; opacity: 0.5;
            }
        }
    }

    .title-wrap{
        padding: 100px;
        transition-timing-function: ease-out;

        .title{
            position: relative;

            svg{
                max-width: 100%;
                path{ stroke: #fff; }
            }
        }
        .text{
            margin-top: 20px;
            font-size: 75px; font-weight: 600; color: #fff; line-height: 1.1; letter-spacing: -1px;
        }
    }
    
    .content-wrap{
        .box{
            position: absolute; width: 300px; height: 300px; margin: -150px 0 0 -150px;
            
            .box-inner{ display: flex; flex-direction: column; justify-content: space-between; width: 100%; height: 100%; padding: 40px; box-shadow: 0 30px 80px rgba(0, 0, 0, 0.7); }
            .txt{ display: block; font-size: 36px; font-weight: 700; color: #000; line-height: 1.3; }
            .icon{ display: block; font-size: 72px; }
            
            &-1{ top: 50%; left: 45%; 
                .box-inner{ background-color: #aaa;  transform: rotate(-5deg); }
            }
            &-2{ top: 50%; left: 55%; 
                .box-inner{ background-color: #222; transform: rotate(10deg); }
                .txt{ color: #fff; }
            }
            &-3{ top: 50%; left: 48%; 
                .box-inner{ background-color: #f5f5f5; transform: rotate(-10deg); }
            }
            &-4{ top: 50%; left: 50%; 
                
                .box-inner{ justify-content: center; align-items: center; background-color: #000; }
                .txt{ font-size: 50px; text-align: center; color: #fff; }
            }
        }
    }
    
    &.end{ visibility: hidden; opacity: 0; }
}


// timeline
.section-timeline{
    position: relative;
    height: 500vh; margin-top: -100vh;

    .title-wrap{
        position: absolute; top: 50%; left: 50%; transform: translate3d(-50%, -50%, 0); z-index: 3;
        text-align: center; 
        .title{ 
            position: relative; 
            opacity: 0;
            font-size: 50px; color: #fff; font-weight: 700;
        }
    }

    .bg{
        overflow: hidden;
        position: absolute; top: 0; left: 0; z-index: -1; width: 100%; height: 100%;
        background-color: #000; opacity: 0;

        &-image{
            content: '';
            position: absolute; top: 0; left: 0; width: 100%; height: 100%;
            background: url('../../assets/images/timeline-bg.jpg') no-repeat center / cover; opacity: 0;
        }
    }

    &.show{
        .bg{ opacity: 1; }
    }
}


// blur
.section-blur{
    position: relative; z-index: 2;
    height: 500vh; text-align: center;
    
    .title-wrap{
        padding: 100px;
        .title{ 
            display: inline-block;
            overflow: hidden;
            position: relative;
            font-size: 150px; font-weight: 700; color: transparent; text-align: center; -webkit-text-stroke: 2px #fff;
            
            &_bg{
                display: block;
                position: absolute; top: 0; left: 0;
                width: 600%; height: 100%;
                background: #000; mix-blend-mode: darken;
                opacity: 0;

                &::after{
                    content: '';
                    position: absolute; top: 0; left: 0; width: 100%; height: 100%; 
                    background: linear-gradient(to right, #f8818b 33%, #c3e178 34%, #c3e178 66%, #7386ff 67%, #7386ff 100%);
                }
            }

            &.color{
                background: #000;
                .title_bg{ opacity: 1; }
            }
        }
    }

    .item-wrap{
        position: absolute; top: 60%; left: 50%;
        width: 50vw; height: 50vw;
        max-width: 800px; max-height: 800px;
        transform: translate3d(-50%, -50%, 0);
        perspective: 200px;
        .item{
            width: 100%; height: 100%;
            position: absolute; top: 0; transform-origin: center;
            transition: transform 0.2s ease-out; transform-style: preserve-3d;

            &-1{ z-index: 4; transform: translate3d(0, 0, 0); }
            &-2{ z-index: 3; transform: translate3d(0, 0, -200px); }
            &-3{ z-index: 2; transform: translate3d(0, 0, -400px); }
        }
    }

    .img-wrap{
        display: inline-block;
        position: relative;  z-index: 2;

        .img{ 
            position: absolute; top: 0; left: 0; 
            width: 100%;
            transition: transform 3s cubic-bezier(.06,.83,.1,1);

            &-2{
                position: relative;
            }

            img{ max-width: 100%; }
            video{ max-width: 100%; }
        }
    }
}



// movie
.section-movie{
    position: relative; z-index: 1;
    height: 500vh; margin-top: -100vh;
    transition: background 0.3s;

    .sticky-wrap{
        overflow: visible;
    }
    
    .title-wrap{
        padding: 100px;
        .title{ 
            font-size: 150px; font-weight: 700; text-align: center; 
            color: #fff; -webkit-text-stroke: 0; 
            transition: color 1s;
        }
    }

    .video-wrap{
        position: absolute; top: 0; left: 0; z-index: -1; width: 100%; height: 100%;
        opacity: 0;
        display: none;

        video{
            width: 100%; height: 100%; object-fit: cover;
        }

        &.fix{
            position: fixed;
        }
    }

    .canvas-wrap{
        overflow: hidden;
        position: absolute; top: 0; left: 0; z-index: -1; width: 100%; height: 100%;
        
        canvas{
            width: 100%; height: 100%;
        }

        &.fix{
            position: fixed;
        }
    }

    &.active{
        background-color: #fff;
        transition: background 0s;
        .title{ 
            color: transparent; -webkit-text-stroke: 2px #fff;
        }
    }
}




// lottie
.section-lottie{
    height: 500vh; margin-top: -100vh;
    background-color: #fff;

    .title-wrap{
        padding: 100px 0;

        .title{ 
            display: flex; position: relative; width: 100%;
            font-size: 150px; font-weight: 700; white-space: nowrap; line-height: 1.2;

            .title_inner{
                background-color: #fff; mix-blend-mode: difference;
                display: inline-flex; position: relative;
            }

            span{
                display: inline-block;
                mix-blend-mode: difference; color: #fff;
                &:nth-child(2n){ color: transparent; -webkit-text-stroke: 2px #fff; }
            }
        }
    }

    .lottie{ 
        position: absolute;
        
        &-1{ z-index: 3; bottom: 100px; left: 50%; width: 1080px; margin-left: -540px; }
        &-2{ z-index: 1; top: -25vh; left: 0; width: 100vw; }
        &-3{ z-index: 2; bottom: 100px; left: 15%; width: 400px; }
        &-4{ z-index: 2; bottom: 100px; right: 20%; width: 300px; }
        &-5{ z-index: 2; bottom: 100px; right: 12%; width: 300px; }
    }

    .sprite{
        overflow: hidden;
        position: absolute; z-index: 9;

        &-1{
            bottom: 50px; left: -180px;
            width: 180px; height: 300px;
            background: url('../../assets/sprite/lottie_person.png') no-repeat left center;
            background-size: cover;
    
            animation: spriteAnimation1 1.5s steps(9) infinite;
        }

        &-2{
            top: 35%; right: -134px;
            width: 134px; height: 150px;
            background: url('../../assets/sprite/lottie_bird.png') no-repeat left center;
            background-size: cover;
    
            animation: spriteAnimation2 1s steps(6) infinite;
        }
    }

    @keyframes spriteAnimation1 {
        100%{ background-position: -1620px; }
    }
    @keyframes spriteAnimation2 {
        100%{ background-position: -800px; }
    }

    // &.active{ 
    //     background-color: #fff;
    //     transition: background 0.2s;
    //     .title-wrap .title{ 
    //         background-color: #fff; 
    //         transition: background 0.2s;
    //     }
    // }

    &.on{ 
        .title-wrap .title_inner{ animation: lottieTitle 20s linear infinite; } 
    }

    @keyframes lottieTitle {
        0%{ transform: translate3d(0, 0, 0); }
        100%{ transform: translate3d(-100%, 0, 0); }
    }
}


// horizontal
.section-horizontal{
    position: relative; z-index: 2;
    height: 400vh; margin-top: -100vh;
    background-color: #000;

    .sticky-wrap{
        padding: 100px;
    }

    .title-wrap{
        .title{ margin-bottom: 40px; font-weight: 700; color: #fff; }
        .text{ font-size: 36px; font-weight: 400; color: #fff; line-height: 1.3; }
    }

    .scroll-wrap{
        display: inline-block; position: relative;
        .text{ 
            font-size: 700px; font-weight: 600; color: #fff; letter-spacing: -2vh; white-space: nowrap;
        }
        .icon{
            position: absolute; font-size: 240px;

            &-love{    top: 28%; left: -1%; }
            &-rainbow{ top: 13%; left: 36%; z-index: -1; }
            &-glitter{ top: 5%; left: 33%; font-size: 180px; }
            &-good{    top: 56%; left: 78%; z-index: -1; }
        }
        .img{
            position: absolute; 
            width: 320px; height: 200px; box-shadow: 0px 10px 40px rgb(0 0 0 / 80%);

            &-1{ top: 75%; left: 30%; }
            &-2{ top: 5%; left: 80%; }

            img{ width: 100%; height: 100%; object-fit: cover; }
        }
    }
}