@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");

.blind{ position: absolute; left: -9999px; font-size: 0; }

* { 
    box-sizing: border-box;
    word-break: keep-all;
}
.container{
    background-color: #000;
    font-family: 'Montserrat', 'Pretendard-Regular';
}

.sticky-wrap{
    overflow: hidden;
    position: sticky; top: 0; 
    width: 100%; height: 100vh;
}

.title-wrap{
    .title{
        font-size: 100px; font-weight: 600; color: #000; letter-spacing: -2px; white-space: nowrap;
    }
}


.section-gsap{
    height: 500vh;

    .sticky-wrap{
        padding: 100px;
        .bg{
            position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: -1;
            width: 100%; height: 100%; transform-origin: center;

            &-fave{ background: url('../../assets/images/gsap_bg-fave.jpeg') no-repeat center center / 100vw; } 
            &-forest{ background: url('../../assets/images/gsap_bg-forest.jpg') no-repeat center center / 100vw; } 
            &-orange{ background: url('../../assets/images/gsap_bg-orange.jpg') no-repeat center center / 100vw; } 
            &-last{ background-color: #000; } 

            &::after{
                content: '';
                position: absolute; top: 0; left: 0; width: 100%; height: 100%;
                background-color: #000; opacity: 0.5;
            }
        }
    }

    .sticky-inner{
    }

    .title-wrap{
        .title{
            position: relative;
            font-size: 20vh; font-weight: 700; color: transparent; text-align: left;
            -webkit-text-stroke: 1px #fff; mix-blend-mode: difference;

            svg{
                path{ stroke: #fff; }
            }
        }
        .text{
            font-size: 80px; font-weight: 600; color: #fff; line-height: 1.2; letter-spacing: -1px;
        }
    }
    .content-wrap{
        position: relative;
        .box{
            display: flex; flex-direction: column; justify-content: space-between;
            position: absolute; width: 300px; height: 300px; background: #fff; margin: -75px 0 0 -150px; padding: 40px;
            box-shadow: 0 30px 80px rgba(0, 0, 0, 0.7);

            .txt{ display: block; font-size: 36px; font-weight: 700; color: #000; line-height: 1.3; }
            .icon{ display: block; font-size: 72px; }
            
            &-1{ background-color: #aaa; top: 50%; left: 45%; transform: rotate(-5deg); }
            &-2{ background-color: #333; top: 50%; left: 55%; transform: rotate(10deg); 
                .txt{ color: #fff; }
            }
            &-3{ background-color: #f5f5f5; top: 50%; left: 48%; transform: rotate(-10deg); 
            }
            &-4{ background-color: #000; top: 50%; left: 50%; transform: rotate(0); 
                display: flex; justify-content: center; align-items: center;
                .txt{ font-size: 50px; text-align: center; color: #fff; }
            }
        }
    }
    
    &.end{ opacity: 0; }
}

.section-timeline{
    height: 500vh; margin-top: -100vh;
    background-color: #000;

    .title-wrap{
        position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 3;
        text-align: center;
        .title{ 
            position: relative;
            font-size: 50px; color: #fff; font-weight: 700;
        }
    }

    .bg{
        overflow: hidden;
        position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: -1; width: 300px; height: 300px;
        background-color: #000; opacity: 0;

        &-image{
            content: '';
            position: absolute; top: 0; left: 0; width: 100%; height: 100%;
            background: url('../../assets/images/timeline-bg.jpg') no-repeat center / 100vw; opacity: 0;
        }
    }

    &.active{
        .bg{ opacity: 1; }
    }
}

.section-lottie{
    height: 300vh;

    .title-wrap{
        padding: 100px 0;

        .title{ font-size: 150px; font-weight: 700; }
    }

    .lottie{ 
        position: absolute;
        
        &-1{ z-index: 3; bottom: 100px; left: 50%; width: 1080px; margin-left: -540px; }
        &-2{ z-index: 1; top: -25vh; left: 0; width: 100vw; }
        &-3{ z-index: 2; bottom: 100px; left: 200px; width: 400px; }
        &-4{ z-index: 2; bottom: 100px; right: 100px; width: 300px; }
        &-5{ z-index: 2; bottom: 100px; right: 300px; width: 300px; }
    }

    &.active{ background-color: #fff; }
}

.section-horizontal{
    height: 400vh;
    background-color: #000;

    .title-wrap{
        .title{ color: #fff; }
    }

    .scroll-wrap{
        display: inline-block; padding: 0 100px;
        .text{ 
            font-size: 60vh; font-weight: 600; color: #fff; letter-spacing: -2vh; white-space: nowrap;
        }
    }
}